
<h1 class="page-header">Gestion du profil <small>{{user.name}} {{user.lastName}}</small></h1>
<div class="row jumbotron masthead" id="firstRow" style="margin-top: 30px">
  <img class="col-md-2 col-sm-6" src="{{user.image}}" alt="you">
  <div class="col-md-10 col-sm-12">
    <h2>{{user.name}} {{user.lastName}} <small class="text-right">({{user.mail}})</small></h2>
    <p class="text-justify">{{user.description}}</p>
  </div>

  <div class="col-md-offset-2">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#userInfoForm">
      Modifier mon profil <span class="glyphicon glyphicon-user"></span>
    </button>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#passwordForm">
      Modifier mon mot de passe <span class="glyphicon glyphicon-lock"></span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Adresse</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <p><span class="label label-default">Pays</span> <span>{{user.address?.country}}</span></p>
          <p><span class="label label-default">Région</span> <span>{{user.address?.department}}</span></p>
          <p><span class="label label-default">Code postal</span> <span>{{user.address?.postalCode}}</span></p>
        </div>
        <div class="col-md-6">
          <p><span class="label label-default">Ville</span> <span>{{user.address?.city}}</span></p>
          <p><span class="label label-default">Rue</span> <span>{{user.address?.streetNumber}} {{user.address?.streetName}}</span></p>
          <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addressForm" (click)="getDepartments()">
            Modifier mon adresse <span class="glyphicon glyphicon-edit"></span>
          </button></p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-profile-citizen *ngIf="user.isPhysic" [user]="user"></app-profile-citizen>
<app-profile-organisation *ngIf="!user.isPhysic" [user]="user"></app-profile-organisation>

<!-- Modal -->
<div class="modal fade" id="userInfoForm" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Modification de vos informations personelles
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form role="form" [formGroup]="infoUserForm" (submit)="saveInfo($event)">
          <div class="form-group" [ngClass]="{'has-error':!infoUserForm.controls['name'].valid}">
            <label *ngIf="user.isPhysic" for="name">Prénom</label>
            <label *ngIf="!user.isPhysic" for="name">Nom</label>
            <input type="text" class="form-control" id="name" [formControl]="infoUserForm.controls['name']"/>
          </div>
          <div *ngIf="user.isPhysic" class="form-group" [ngClass]="{'has-error':!infoUserForm.controls['lastName'].valid}">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" id="lastName" [formControl]="infoUserForm.controls['lastName']"/>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!infoUserForm.controls['mail'].valid}">
            <label for="mail">Email</label>
            <input type="email" class="form-control" id="mail" [formControl]="infoUserForm.controls['mail']"/>
          </div>
          <div *ngIf="user.isPhysic" class="form-group" [ngClass]="{'has-error':!infoUserForm.controls['date'].valid}">
            <label for="date">Date de naissance</label>
            <input type="date" class="form-control" name="date" id="date" [formControl]="infoUserForm.controls['date']">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="5" id="description" [formControl]="infoUserForm.controls['description']"></textarea>
          </div>
          <p>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-default" [disabled]="!infoUserForm.valid" onclick="$('#userInfoForm').modal('toggle')">Modifier</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addressForm" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Modification de votre adresse
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="country">Pays</label>
            <input type="text" class="form-control" id="country" value="{{user.address?.country}}"/>
          </div>
          <div class="form-group">
            <label for="department" class="col-sm-2">Département</label>

            <select class="form-control" id="department">
              <option value="">-- sélectionnez un département --</option>
              <option *ngFor="let department of departments"
                [selected]="department.name == user.address?.department"
                [value]="department.name">
                {{department.zip_code}} - {{department.name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="postalCode">Code postal</label>
            <input type="text" class="form-control" id="postalCode" value="{{user.address?.postalCode}}"/>
          </div>
          <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" class="form-control" id="city" value="{{user.address?.city}}"/>
          </div>
          <p>
            <button type="submit" class="btn btn-default" >Modifier</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="passwordForm" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Modification de votre mot de passe
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form role="form" [formGroup]="passwordFormGroup" (submit)="changePassword($event)">
          <div class="form-group" [ngClass]="{'has-error':!passwordFormGroup.controls['oldPassword'].valid}">
            <label for="oldPassword">Ancien mot de passe</label>
            <input type="password" class="form-control" id="oldPassword" placeholder="Ancien mot de passe" [formControl]="passwordFormGroup.controls['oldPassword']"/>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!passwordFormGroup.controls['password'].valid}">
            <label for="password">Nouveau mot de passe</label>
            <input type="password" class="form-control" id="password" placeholder="Nouveau mot de passe" [formControl]="passwordFormGroup.controls['password']"/>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!passwordFormGroup.controls['passwordConf'].valid}">
            <label for="passwordConf">Confirmation du mot de passe</label>
            <input type="password" class="form-control" id="passwordConf" placeholder="Confirmation du mot de passe" [formControl]="passwordFormGroup.controls['passwordConf']"/>
          </div>
          <p>
            <button type="submit" class="btn btn-default btn-success" [disabled]="!passwordFormGroup.valid" onclick="$('#userInfoForm').modal('toggle')">Modifier</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
