img
{
    display: inline-block;
    border-radius: 50%;
    height:250px;
    max-width:300px;
}
.btn-info{
    margin-top:20px;
}
.sebm-google-map-container {
    height: 350px;
}

article
{
    margin-top:50px;
    height:250px;
    text-align: justify
}
#chat{
    margin-top:20px;
    border-style: solid;
    border-color: #F5F5F5;
}


.message-bubble
{
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even)
{
    background-color: #F5F5F5;
}

.message-bubble > *
{
    padding-left: 10px;
}
