img
{
    display: inline-block;
    border-radius: 50%;
    height:250px;
    max-width:300px;
}
.btn-info{
    margin-top:20px;
}
.sebm-google-map-container {
    height: 350px;
}

article
{
    margin-top:50px;
    height:250px;
    text-align: justify
}