/**
 * Created by Florent on 30/03/2017.
 */

.btn btn-default{
    display: block;
    margin : auto;
}
/**
.h2 {
    margin-bottom: 50%;
    text-align: center;
}

.placeholders h3 {
    text-align: right;
}*/