<h1 class="page-header">Administration</h1>
<div class="row">
  <div class="card col-md-4 col-sm-6 text-center">
    <a routerLink="/admin/utilisateurs">
      <span style="font-size: 70px" class="glyphicon glyphicon-user"></span><br>
      <p class="lead">Gestion des utilisateurs</p>
    </a>
  </div>
  <div class="card col-md-4 col-sm-6 text-center">
    <a routerLink="/admin/projets" >
      <span style="font-size: 70px" class="glyphicon glyphicon-alert"></span><br>
      <p class="lead">Gestion des projets</p>
    </a>
  </div>
  <div class="card col-md-4 col-sm-6 text-center">
    <a routerLink="/admin/commentaires" >
      <span style="font-size: 70px" class="glyphicon glyphicon-comment"></span><br>
      <p class="lead">Gestion des commentaires</p>
    </a>
  </div>
</div>