<h1 class="page-header">Administration</h1>
<div class="row">
  <div class="col-md-4">
    <div class="text-center">
      <span style="font-size: 70px" class="glyphicon glyphicon-user"></span><br>
      <p class="lead">Gestion des utilisateurs</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <span style="font-size: 70px" class="glyphicon glyphicon-alert"></span><br>
      <p class="lead">Gestion des projets</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <span style="font-size: 70px" class="glyphicon glyphicon-comment"></span><br>
      <p class="lead">Gestion des commentaires</p>
    </div>
  </div>
</div>