<h1 class="page-header">Modification du profile {{user.name}} {{user.lastName}}</h1>
<div class="container">
    
    <div class="row tab-content">
        <div role="tabpanel" class="tab-pane active">
            <form class="form-horizontal" id="register-form" [formGroup]="editUserForm" (submit)="editUser($event)" #crisisForm="ngForm">
                <br>

                <div *ngIf="user.isPhysic" class="form-group" [ngClass]="{'has-error':!editUserForm.controls['lastName'].valid}">
                    <label for="lastName" class="col-sm-2">Nom <span class="asterisque"> * </span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lastName" id="lastName"
                          placeholder="Entrez votre nom" [formControl]="editUserForm.controls['lastName']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!editUserForm.controls['name'].valid}">
                    <label *ngIf="user.isPhysic" for="name" class="col-sm-2">Prénom</label>
                    <label *ngIf="!user.isPhysic" for="name" class="col-sm-2">Nom<span class="asterisque"> * </span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name" 
                        placeholder="Entrez votre prénom" [formControl]="editUserForm.controls['name']">
                    </div>
                </div>

                <div *ngIf="user.isPhysic" class="form-group" [ngClass]="{'has-error':!editUserForm.controls['date'].valid}">
                    <label for="date" class="col-sm-2">Date de naissance</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="date" id="date" 
                        placeholder="Entrez votre prénom" [formControl]="editUserForm.controls['date']">
                    </div>
                </div>

                <div *ngIf="!user.isPhysic" class="form-group">
                    <label for="isPublic" class="col-md-2">Type </label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" checked name="optionsRadios" id="Public" value="Public" [formControl]="editUserForm.controls['type']"> Publique
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="Private" value="Private" [formControl]="editUserForm.controls['type']"> Privée
                        </label>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!editUserForm.controls['country'].valid}">
                    <label for="country" class="col-sm-2">Pays </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="country" [formControl]="editUserForm.controls['country']">
                            <option value="" selected>-- sélectionnez un pays --</option>
-                           <option value='Cameroun'>Cameroun</option>
                            <option value='France'>France</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!editUserForm.controls['department'].valid}">
                    <label for="department" class="col-sm-2">Département</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="department" [formControl]="editUserForm.controls['department']">
                            <option value="" selected>-- sélectionnez un département --</option>
                            <option *ngFor="let department of country.departments"
                                [value]="department.name">
                                {{department.zip_code}} - {{department.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!editUserForm.controls['city'].valid}">
                    <label for="city" class="col-sm-2">Ville </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city" placeholder="Entrez votre ville de résidence" [formControl]="editUserForm.controls['city']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!editUserForm.controls['postalCode'].valid}">
                    <label for="postalCode" class="col-sm-2">Code postal </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="postalCode" placeholder="Entrez votre code postal" [formControl]="editUserForm.controls['postalCode']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!editUserForm.controls['streetNumber'].valid}">
                    <label for="streetNumber" class="col-sm-2">Numéro de rue</label>
                    <div class="col-sm-10">
                        <input type="number" min="0" class="form-control" id="streetNumber" placeholder="Entrez numéro de rue" [formControl]="editUserForm.controls['streetNumber']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!editUserForm.controls['streetName'].valid}">
                    <label for="streetName" class="col-sm-2">Rue </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="streetName" placeholder="Entrez votre rue" [formControl]="editUserForm.controls['streetName']">
                    </div>
                </div>

                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-primary" [disabled]="!editUserForm.valid">Valider</button>
                    <a routerLink="/admin/utilisateurs" class="btn btn-default">Retour</a>
                </div>
            </form>
        </div>
    </div>
</div>
