<h1 class="page-header">Inscription</h1>
<div class="container">
    <ul class="nav nav-tabs" id="my-tab">
        <li role="presentation" class="active"><a href="#registerCitizen" role="tab" data-toggle="tab">Citoyen</a></li>
        <li role="presentation"><a href="#registerOrganisation" role="tab" data-toggle="tab">Entreprise ou Association</a></li>
    </ul>

    <div class="row tab-content">
        <div role="tabpanel" class="tab-pane active" id="registerCitizen">
            <form class="form-horizontal" id="register-form" [formGroup]="registerUserForm" (submit)="doRegister($event)" #crisisForm="ngForm">
                <h3>Veuillez remplir les champs ci-dessous :</h3>
                <h6>Les champs accompagnés d'un astérisque sont requis.</h6>
                <br>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['lastName'].valid}">
                    <label for="lastName" class="col-sm-2">Nom <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lastName" id="lastName"
                            placeholder="Entrez votre nom" [formControl]="registerUserForm.controls['lastName']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['name'].valid}">
                    <label for="name" class="col-sm-2">Prénom <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Entrez votre prénom" [formControl]="registerUserForm.controls['name']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['email'].valid}">
                    <label for="email" class="col-sm-2">Adresse Email <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Entrez votre email" [formControl]="registerUserForm.controls['email']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['password'].valid}">
                    <label for="password" class="col-sm-2">Mot de passe <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="password"  placeholder="Entrez votre mot de passe" [formControl]="registerUserForm.controls['password']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['passwordConfirmation'].valid}">
                    <label for="passwordConfirmation" class="col-sm-2">Confirmation du mot de passe <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirmez votre mot de passe" [formControl]="registerUserForm.controls['passwordConfirmation']">
                    </div>
                </div>

                <div class="form-group">
                    <label for="birthDate" class="col-md-2">Date de naissance <span class="asterisque"> * </span></label>
                    <div class="col-md-10" id="birthDate">
                        <div class="col-md-4" [ngClass]="{'has-error':!registerUserForm.controls['day'].valid}">
                            <select class="form-control" id="day" [formControl]="registerUserForm.controls['day']">
                                <option value=""> Jour </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="col-md-4" [ngClass]="{'has-error':!registerUserForm.controls['month'].valid}">
                            <select class="form-control" id="month" [formControl]="registerUserForm.controls['month']">
                                <option value=""> Mois </option>
                                <option value="1">Janvier</option>
                                <option value="2">Février</option>
                                <option value="3">Mars</option>
                                <option value="4">Avril</option>
                                <option value="5">Mai</option>
                                <option value="6">Juin</option>
                                <option value="7">Juillet</option>
                                <option value="8">Août</option>
                                <option value="9">Septembre</option>
                                <option value="10">Octobre</option>
                                <option value="11">Novembre</option>
                                <option value="12">Decembre</option>
                            </select>
                        </div>
                        <div class="col-md-4" [ngClass]="{'has-error':!registerUserForm.controls['year'].valid}">
                            <select class="form-control" id="year" [formControl]="registerUserForm.controls['year']">
                                <option value=""> Année </option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                                <option value="1997">1997</option>
                                <option value="1996">1996</option>
                                <option value="1995">1995</option>
                                <option value="1994">1994</option>
                                <option value="1993">1993</option>
                                <option value="1992">1992</option>
                                <option value="1991">1991</option>
                                <option value="1990">1990</option>
                                <option value="1989">1989</option>
                                <option value="1988">1988</option>
                                <option value="1987">1987</option>
                                <option value="1986">1986</option>
                                <option value="1985">1985</option>
                                <option value="1984">1984</option>
                                <option value="1983">1983</option>
                                <option value="1982">1982</option>
                                <option value="1981">1981</option>
                                <option value="1980">1980</option>
                                <option value="1979">1979</option>
                                <option value="1978">1978</option>
                                <option value="1977">1977</option>
                                <option value="1976">1976</option>
                                <option value="1975">1975</option>
                                <option value="1974">1974</option>
                                <option value="1973">1973</option>
                                <option value="1972">1972</option>
                                <option value="1971">1971</option>
                                <option value="1970">1970</option>
                                <option value="1969">1969</option>
                                <option value="1968">1968</option>
                                <option value="1967">1967</option>
                                <option value="1966">1966</option>
                                <option value="1965">1965</option>
                                <option value="1964">1964</option>
                                <option value="1963">1963</option>
                                <option value="1962">1962</option>
                                <option value="1961">1961</option>
                                <option value="1960">1960</option>
                                <option value="1959">1959</option>
                                <option value="1958">1958</option>
                                <option value="1957">1957</option>
                                <option value="1956">1956</option>
                                <option value="1955">1955</option>
                                <option value="1954">1954</option>
                                <option value="1953">1953</option>
                                <option value="1952">1952</option>
                                <option value="1951">1951</option>
                                <option value="1950">1950</option>
                                <option value="1949">1949</option>
                                <option value="1948">1948</option>
                                <option value="1947">1947</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['country'].valid}">
                    <label for="country" class="col-sm-2">Pays <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="country" [formControl]="registerUserForm.controls['country']">
                            <option value="" selected>-- sélectionnez un pays --</option>
-                           <option value='Cameroun'>Cameroun</option>
                            <option value='France'>France</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['department'].valid}">
                    <label for="department" class="col-sm-2">Département <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="department" [formControl]="registerUserForm.controls['department']">
                            <option value="" selected>-- sélectionnez un département --</option>
                            <option *ngFor="let department of country.departments"
                                [value]="department.name">
                                {{department.zip_code}} - {{department.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['city'].valid}">
                    <label for="city" class="col-sm-2">Ville <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city" placeholder="Entrez votre ville de résidence" [formControl]="registerUserForm.controls['city']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['postalCode'].valid}">
                    <label for="postalCode" class="col-sm-2">Code postal <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="postalCode" placeholder="Entrez votre code postal" [formControl]="registerUserForm.controls['postalCode']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['streetNumber'].valid}">
                    <label for="streetNumber" class="col-sm-2">Numéro de rue <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="number" min="0" class="form-control" id="streetNumber" placeholder="Entrez numéro de rue" [formControl]="registerUserForm.controls['streetNumber']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['streetName'].valid}">
                    <label for="streetName" class="col-sm-2">Rue <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="streetName" placeholder="Entrez votre rue" [formControl]="registerUserForm.controls['streetName']">
                    </div>
                </div>
                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-default" [disabled]="!registerUserForm.valid">Valider</button>
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="registerOrganisation">
            <form class="form-horizontal" id="registerOrganisation-form" [formGroup]="registerOrganisationForm" (ngSubmit)="doRegister($event)">
                <h3 class="title">Veuillez remplir les champs ci-dessous :</h3>
                <h6 class="Title2">Les champs accompagnés d'un astérisque sont requis.</h6>

                <br>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['name'].valid}">
                    <label for="name" class="col-sm-2">Nom<span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name"
                            placeholder="Entrez le nom de l'organisation" [formControl]="registerOrganisationForm.controls['name']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['mail'].valid}">
                    <label for="email" class="col-sm-2">Adresse Email <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" id="email"
                            placeholder="Entrez votre email" [formControl]="registerOrganisationForm.controls['mail']">
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['password'].valid}">
                    <label for="password" class="col-sm-2">Mot de passe <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Entrez votre mot de passe" [formControl]="registerOrganisationForm.controls['password']">
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['passwordConfirmation'].valid}">
                    <label for="passwordConfirmation" class="col-sm-2">Confirmation du mot de passe <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation"
                            placeholder="Confirmez votre mot de passe" [formControl]="registerOrganisationForm.controls['passwordConfirmation']">
                    </div>
                </div>

                <div class="form-group">
                    <label for="isPublic" class="col-md-2">Type <span class="asterisque"> * </span></label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" checked name="optionsRadios" id="Public" value="Public" [formControl]="registerOrganisationForm.controls['type']"> Publique
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="Private" value="Private" [formControl]="registerOrganisationForm.controls['type']"> Privée
                        </label>
                    </div>
                </div>


                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['country'].valid}">
                    <label for="country" class="col-sm-2">Pays <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="country" [formControl]="registerOrganisationForm.controls['country']">
                            <option value="" selected>-- sélectionnez un pays --</option>
-                           <option value='Cameroun'>Cameroun</option>
                            <option value='France'>France</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['department'].valid}">
                    <label for="department" class="col-sm-2">Département <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="department" [formControl]="registerOrganisationForm.controls['department']">
                            <option value="" selected>-- sélectionnez un département --</option>
                            <option *ngFor="let department of country.departments"
                                [value]="department.zip_code">
                                {{department.zip_code}} - {{department.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['city'].valid}">
                    <label for="city" class="col-sm-2">Ville <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city"
                            placeholder="Entrez votre ville de résidence" [formControl]="registerOrganisationForm.controls['city']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['postalCode'].valid}">
                    <label for="postalCode" class="col-sm-2">Code postal <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="postalCode"
                            placeholder="Entrez votre code postal" [formControl]="registerOrganisationForm.controls['postalCode']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['streetNumber'].valid}">
                    <label for="streetNumber" class="col-sm-2">Numéro de rue <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="number" min="0" class="form-control" id="streetNumber"
                            placeholder="Entrez numéro de rue" [formControl]="registerOrganisationForm.controls['streetNumber']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['streetName'].valid}">
                    <label for="streetNameOrganisation" class="col-sm-2">Rue <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="streetNameOrganisation"
                            placeholder="Entrez votre rue" [formControl]="registerOrganisationForm.controls['streetName']">
                    </div>
                </div>
                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-default" [disabled]="!registerOrganisationForm.valid">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#my-tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

</script>
