<h1 class="page-header">Inscription</h1>
<div class="container">
    <ul class="nav nav-tabs" id="my-tab">
        <li role="presentation" class="active"><a href="#registerCitizen" role="tab" data-toggle="tab">Citoyen</a></li>
        <li role="presentation"><a href="#registerOrganisation" role="tab" data-toggle="tab">Entreprise ou Association</a></li>
    </ul>

    <div class="row tab-content">
        <div role="tabpanel" class="tab-pane active" id="registerCitizen">
            <form class="form-horizontal" id="register-form" [formGroup]="registerUserForm" (submit)="doRegister($event)" #crisisForm="ngForm">
                <h3>Veuillez remplir les champs ci-dessous :</h3>
                <h6>Les champs accompagnés d'un astérisque sont requis.</h6>
                <br>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['lastName'].valid && firstSubmit}">
                    <label for="lastName" class="col-sm-2">Nom <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lastName" id="lastName"
                            placeholder="Entrez votre nom" [formControl]="registerUserForm.controls['lastName']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['name'].valid && firstSubmit}">
                    <label for="name" class="col-sm-2">Prénom <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Entrez votre prénom" [formControl]="registerUserForm.controls['name']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['email'].valid && firstSubmit}">
                    <label for="email" class="col-sm-2">Adresse Email <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Entrez votre email" [formControl]="registerUserForm.controls['email']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['password'].valid && firstSubmit}">
                    <label for="password" class="col-sm-2">Mot de passe <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <em class="text-danger" *ngIf="registerUserForm.controls['password'].hasError('minlength')">
                            Le mot de passe doit comporter au moins 6 caractères, dont une miniscule, une majuscule et un chiffre
                        </em>
                        <input type="password" class="form-control" name="password" id="password"  placeholder="Entrez votre mot de passe" [formControl]="registerUserForm.controls['password']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['passwordConfirmation'].valid && firstSubmit}">
                    <label for="passwordConfirmation" class="col-sm-2">Confirmation du mot de passe <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <em class="text-danger" *ngIf="firstSubmit">Les mots de passe doivent être identiques</em>
                        <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirmez votre mot de passe" [formControl]="registerUserForm.controls['passwordConfirmation']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['date'].valid}">
                    <label for="date" class="col-sm-2">Date de naissance</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="date" id="date" [formControl]="registerUserForm.controls['date']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['country'].valid}">
                    <label for="country" class="col-sm-2">Pays</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="country" [formControl]="registerUserForm.controls['country']">
                            <option value="" selected>-- sélectionnez un pays --</option>
-                           <option value='Cameroun'>Cameroun</option>
                            <option value='France'>France</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['department'].valid}">
                    <label for="department" class="col-sm-2">Département</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="department" [formControl]="registerUserForm.controls['department']">
                            <option value="" selected>-- sélectionnez un département --</option>
                            <option *ngFor="let department of country.departments"
                                [value]="department.name">
                                {{department.zip_code}} - {{department.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['city'].valid}">
                    <label for="city" class="col-sm-2">Ville</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city" placeholder="Entrez votre ville de résidence" [formControl]="registerUserForm.controls['city']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['postalCode'].valid}">
                    <label for="postalCode" class="col-sm-2">Code postal</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="postalCode" placeholder="Entrez votre code postal" [formControl]="registerUserForm.controls['postalCode']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['streetNumber'].valid}">
                    <label for="streetNumber" class="col-sm-2">Numéro de rue</label>
                    <div class="col-sm-10">
                        <input type="number" min="0" class="form-control" id="streetNumber" placeholder="Entrez numéro de rue" [formControl]="registerUserForm.controls['streetNumber']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerUserForm.controls['streetName'].valid}">
                    <label for="streetName" class="col-sm-2">Rue</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="streetName" placeholder="Entrez votre rue" [formControl]="registerUserForm.controls['streetName']">
                    </div>
                </div>
                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-default" [disabled]="!registerUserForm.valid">Valider</button>
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="registerOrganisation">
            <form class="form-horizontal" id="registerOrganisation-form" [formGroup]="registerOrganisationForm" (ngSubmit)="doRegister($event)">
                <h3 class="title">Veuillez remplir les champs ci-dessous :</h3>
                <h6 class="Title2">Les champs accompagnés d'un astérisque sont requis.</h6>

                <br>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['name'].valid}">
                    <label for="name" class="col-sm-2">Nom<span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name"
                            placeholder="Entrez le nom de l'organisation" [formControl]="registerOrganisationForm.controls['name']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['email'].valid}">
                    <label for="email" class="col-sm-2">Adresse Email <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" id="email"
                            placeholder="Entrez votre email" [formControl]="registerOrganisationForm.controls['email']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['password'].valid}">
                    <label for="password" class="col-sm-2">Mot de passe <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <em *ngIf="!registerOrganisationForm.controls['password'].valid && firstSubmit">Le mot de passe doit comporter au moins 6 caractères</em>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Entrez votre mot de passe" [formControl]="registerOrganisationForm.controls['password']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['passwordConfirmation'].valid}">
                    <label for="passwordConfirmation" class="col-sm-2">Confirmation du mot de passe <span class="asterisque"> * </span> </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control"  name="passwordConfirmation" id="passwordConfirmation"
                            placeholder="Confirmez votre mot de passe" [formControl]="registerOrganisationForm.controls['passwordConfirmation']">
                    </div>
                </div>

                <div class="form-group">
                    <label for="isPublic" class="col-md-2">Type <span class="asterisque"> * </span></label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" checked name="optionsRadios" id="Public" value="Public" [formControl]="registerOrganisationForm.controls['type']"> Publique
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="Private" value="Private" [formControl]="registerOrganisationForm.controls['type']"> Privée
                        </label>
                    </div>
                </div>


                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['country'].valid}">
                    <label for="country" class="col-sm-2">Pays</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="country" [formControl]="registerOrganisationForm.controls['country']">
                            <option value="" selected>-- sélectionnez un pays --</option>
-                           <option value='Cameroun'>Cameroun</option>
                            <option value='France'>France</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['department'].valid}">
                    <label for="department" class="col-sm-2">Département</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="department" [formControl]="registerOrganisationForm.controls['department']">
                            <option value="" selected>-- sélectionnez un département --</option>
                            <option *ngFor="let department of country.departments"
                                [value]="department.zip_code">
                                {{department.zip_code}} - {{department.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['city'].valid}">
                    <label for="city" class="col-sm-2">Ville</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city"
                            placeholder="Entrez votre ville de résidence" [formControl]="registerOrganisationForm.controls['city']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['postalCode'].valid}">
                    <label for="postalCode" class="col-sm-2">Code postal</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="postalCode"
                            placeholder="Entrez votre code postal" [formControl]="registerOrganisationForm.controls['postalCode']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['streetNumber'].valid}">
                    <label for="streetNumber" class="col-sm-2">Numéro de rue</label>
                    <div class="col-sm-10">
                        <input type="number" min="0" class="form-control" id="streetNumber"
                            placeholder="Entrez numéro de rue" [formControl]="registerOrganisationForm.controls['streetNumber']">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerOrganisationForm.controls['streetName'].valid}">
                    <label for="streetNameOrganisation" class="col-sm-2">Rue</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="streetNameOrganisation"
                            placeholder="Entrez votre rue" [formControl]="registerOrganisationForm.controls['streetName']">
                    </div>
                </div>
                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-default" [disabled]="!registerOrganisationForm.valid">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#my-tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

</script>
