<script src="../service/auth-guard.service.ts"></script><h1 class="page-header">{{project.title}}</h1>
<div class="row">
  <img class="col-sm-5" src={{project.image}}>
  <article class="col-sm-7">
    <p>
      {{project.description}}
    </p>

    <div id="icones">
      <a class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-thumbs-up"></span> J'aime
      </a>
      <a class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-thumbs-down"></span> Je n'aime pas
      </a>
    </div>

  </article>
  <div class="col-sm-offset-1 col-sm-10 " id="map">

    <sebm-google-map [latitude]="project.latitude"[longitude]="project.longitude">
      <sebm-google-map-marker [latitude]="project.latitude" [longitude]="project.longitude">
        <sebm-google-map-info-window>
          <strong>{{project.title}}</strong>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
  </div>







</div>
