<script src="../services/auth-guard.service.ts"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyCPFGAlVK4bEA8olgRQ11w319TRcRjhH4A"></script>
<h1 class="page-header">{{Info['type']}} / {{project.title}}</h1>
<div class="row">
  <div class="row jumbotron masthead">
    <img class="col-sm-5" src={{project.image}}>
    <div class="col-sm-offset-1 col-sm-5 col-sm-offset-1">
      <p id="info">
        {{project.description}}<br/><br/>
        <b>Coût total du projet:</b> {{Info.amount}} € <br/><br/>
        <b>Date de lancement: </b> {{ Info.launchDate | date:"MM/dd/yyyy"}}<br/><br/>
        <b>Date de début des travaux: </b> {{ Info.startDate | date:"MM/dd/yyyy"}}<br/><br/>
      </p>
      <div class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> En savoir plus </div>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <object id="pdf" type="application/pdf" width="550" height="800"></object>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div id="icons">
        <button id="like" class="btn-lg" [disabled]="!authService.loggedIn()" (click)="vote(1)">
          <span class="glyphicon glyphicon-thumbs-up"></span> {{project.plusMark}} J'aime
        </button>
        <button id="dislike" class=" btn-lg" [disabled]="!authService.loggedIn()" (click)="vote(0)">
          <span class="glyphicon glyphicon-thumbs-down" ></span> {{project.minusMark}} Je n'aime pas
        </button>
      </div>
    </div>
    <div class="progress col-sm-offset-1 col-sm-10">

      <div id="progress" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
           aria-valuemin="0" aria-valuemax="100">
        {{getProgress()}}% Complete
      </div>
    </div>
  </div>
  <div class="col-sm-offset-2 col-sm-8 ">
    <sebm-google-map [zoom]=15 [latitude]=project.latitude [longitude]=project.longitude>
      <sebm-google-map-marker [latitude]=project.latitude [longitude]=project.longitude>
        <sebm-google-map-info-window>
          <strong>{{project.title}}</strong>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
  </div>
  <div id="chat" class="col-sm-offset-2 col-sm-8 ">
    <div class="panel-body">
      <div class="row message-bubble" *ngFor='let message of MessageList'>
        <p class="text-muted" >Le {{ message.date | date:"MM/dd/yyyy 'at' h:mma"}}, {{message.name}}:</p>
        <span>{{message.content}}</span>
      </div>
    </div>
    <div class="panel-footer">
      <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="messageToSend">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" [disabled]="!authService.loggedIn()" (click)="send()">Send</button>
      </span>
    </div>
  </div>
</div>
</div>
