<div class="row">
  <div class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Stats</h2>
      </div>
      <div class="panel-body">
        <p><span class="glyphicon glyphicon-folder-open"></span> <span>0</span></p>
        <p><span class="glyphicon glyphicon-briefcase"></span> <span>0</span></p>
        <p><span class="glyphicon glyphicon-comment"></span> <span>0</span></p>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Expériences</h2>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Années</th>
          <th>Ville</th>
          <th>Entreprise</th>
          <th>Poste</th>
        </tr>
        </thead>
      </table>
      <div class="panel-body">
        <p><button class="btn btn-primary btn-md">
          Modifier les expériences<span class="glyphicon glyphicon-edit"></span>
        </button></p>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Compétences</h2>
      </div>
      <div class="panel-body">
        <p><span></span></p>
        <p><button class="btn btn-primary btn-md">
          Modifier les compétences<span class="glyphicon glyphicon-edit"></span>
        </button></p>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Formations</h2>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Années</th>
          <th>Ville</th>
          <th>Diplome</th>
          <th>Etablissement</th>
        </tr>
        </thead>
      </table>
      <div class="panel-body">
        <p><span></span></p>
        <p><button class="btn btn-primary btn-md">
          Modifier les formations<span class="glyphicon glyphicon-edit"></span>
        </button></p>
      </div>
    </div>
  </div>
</div>
